:root {
  /* colors */
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-gray);
  color: white;
  font-size: 1.8rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6em;
  height: 31rem;
  padding: 1.6em 0 8em;
  background: url("./images/pattern-bg-mobile.png") no-repeat;
  background-size: cover;
}

.search-container h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 39rem;
}

.search-form input {
  width: 75%;
  padding: 1em;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 1.6rem;
}

.search-form button {
  padding: 1em 1.2em;
  border: none;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--very-dark-gray);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.info-container {
  position: relative;
  height: 120vh;
  display: flex;
  justify-content: center;
}

.info-cards {
  position: absolute;
  top: -24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  max-width: 34rem;
  gap: 0.6em;
  padding: 1.6em;
  z-index: 10;
  background-color: var(--white);
  border-radius: 15px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
}

.info-card h2 {
  color: var(--dark-gray);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-card p {
  height: 2em;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--very-dark-gray);
}

@media (min-width: 768px) {
  .search-container {
    height: 28rem;
    background: url("./images/pattern-bg-desktop.png") no-repeat;
    background-size: cover;
  }

  .info-container {
    height: 75vh;
  }

  .info-cards {
    top: -12%;
    flex-direction: row;
    max-width: 920px;
    gap: 1.6em;
    padding: 1.6em;
  }

  .info-card {
    align-items: flex-start;
    width: 20em;
    padding: 2em 0;
  }

  .info-card p {
    font-size: 2.4rem;
  }
}
