:root {
  /* colors */
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
}

body {
  min-height: 100vh;
  background-color: var(--very-dark-gray);
  color: white;
  font-size: 1.8rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
  padding: 1.6em 0 8em;
  background: url("./images/pattern-bg-mobile.png") no-repeat;
  background-size: cover;
}

.search-container h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 30em;
}

.search-form input {
  width: 75%;
  padding: 1em;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: 1.6rem;
}

.search-form button {
  padding: 1em 1.2em;
  border: none;
  font-size: 1.6rem;
  color: white;
  background-color: var(--very-dark-gray);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.info-container {
  position: relative;
  min-height: 75vh;
  display: flex;
  justify-content: center;
}

.info-cards {
  position: absolute;
  top: -30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  min-height: 12em;
  gap: 1.6em;
  padding: 1.6em;
  background-color: var(--white);
  border-radius: 15px;
}

.info-card {
  display: flex;
  justify-content: center;
}

.info-card h2 {
  color: var(--dark-gray);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
